---
import NavbarItemsRender from "@components/Navigation/Navbar/components/NavbarItems/NavbarItemsRender/NavbarItemRender.astro";
import ResponsiveButton from "@components/Navigation/Navbar/components/ResponsiveButton/ResponsiveButton.astro";

export type Link = {
  href: string;
  text: string;
};

export const links: Link[] = [
  { href: "/#", text: "Inicio" },
  { href: "/#nosotros", text: "Nosotros" },
  { href: "/#actividades", text: "Actividades" },
  { href: "/#directiva", text: "Directiva" },
  { href: "/#comité", text: "Comité" },
  { href: "/#preguntas-frecuentes", text: "Preguntas frecuentes" },
  //otros comites
  { href: "/gestiones-pasadas", text: "Gestiones Pasadas" },
];
---

<nav id="navbar" class="fixed top-0 z-50 w-dvw bg-accent/30">
  <div
    class="flex flex-wrap items-center justify-between max-w-screen-xl p-6 mx-auto"
  >
    <ResponsiveButton />
    <NavbarItemsRender links={links} />
    <h2 class="font-medium md:hidden">CICC</h2>
  </div>
</nav>

<script src="/Navbar/js/Navbar.js" type="module" is:inline></script>
