---
import { Image } from "astro:assets";

const CALL_TO_ACTION = "Forma parte del comité";
---

<div
  class="absolute inset-0 z-0 h-[70dvh] lg:h-[80dvh] bg-center bg-cover bg-hero-image"
>
  <div
    class="absolute inset-0 flex items-center justify-start bg-hero-gradient"
  >
    <div
      class="flex flex-col items-center justify-center w-full lg:w-fit mt-14 lg:mt-24 lg:ml-10 gap-y-5"
    >
      <h1
        class="text-5xl font-bold text-center text-white [text-shadow:_5px_6px_0_rgb(0_0_0_/_40%)] w-full lg:w-fit text-pretty lg:text-6xl"
      >
        <span class="text-secondary">COMITÉ</span> DE <br />
        INGENIERÍA EN <br /> CIENCIAS DE LA <br />
        <span class="text-secondary">COMPUTACIÓN</span>
      </h1>
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://forms.office.com/r/Ln0F5E42cU"
        class="w-[60%] lg:w-[90%] py-2 text-xl mt-2 font-medium text-center transition-transform rounded-full bg-secondary hover:scale-105 hover:bg-secondary/95"
      >
        <span class="text-lg font-semibold text-white">{CALL_TO_ACTION}</span>
      </a>
    </div>
    <div class="absolute items-center hidden lg:flex gap-x-6 bottom-4 right-4">
      <Image
        src="/pucmm.webp"
        alt="Hero image"
        class="size-28 lg:size-44"
        width={192}
        height={200}
      />
      <Image
        src="/favicon.webp"
        alt="Hero image"
        class="size-28 lg:size-44"
        width={192}
        height={192}
      />
    </div>
  </div>
</div>
