---
import { Image } from "astro:assets";
---

<div
  class="absolute inset-0 z-0 h-[70dvh] md:h-[80dvh] bg-center bg-cover bg-hero-image"
>
  <div
    class="absolute inset-0 flex items-center justify-start bg-hero-gradient"
  >
    <h1
      class="md:mt-32 text-5xl font-bold text-center text-white [text-shadow:_5px_6px_0_rgb(0_0_0_/_40%)] w-full md:w-fit text-pretty md:text-6xl md:ml-10"
    >
      <span class="text-secondary">COMITÉ</span> DE <br />
      INGENIERÍA EN <br /> CIENCIAS DE LA <br />
      <span class="text-secondary">COMPUTACIÓN</span>
    </h1>
    <div class="absolute flex items-center gap-x-6 bottom-4 right-4">
      <Image
        src="/pucmm.webp"
        alt="Hero image"
        class="size-28 md:size-52"
        width={200}
        height={200}
      />
      <Image
        src="/favicon.webp"
        alt="Hero image"
        class="size-28 md:size-52"
        width={200}
        height={200}
      />
    </div>
  </div>
</div>
