---
import Heading from "@components/Heading/Heading.astro";
import DirectiveCardRender from "@components/Cards/Directive/DirectiveCardRender/DirectiveCardRender.astro";

import type { Directive } from "@data/directives.data";

interface Props {
  title: string;
  directive: Directive[];
}

const { title, directive } = Astro.props;
---

<section>
  <Heading text={title} />
  <DirectiveCardRender directives={directive} />
</section>
