.swiper {
  overflow-y: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 440px;
}

.swiper-slide-active > div {
  transform: scale(1.15);
  transition: transform 1.5s ease;
  overflow-y: visible;
}

.swiper-button-prev,
.swiper-button-next {
  color: #00589b;
  padding: 10px;
}
