---
import type { Link } from "@components/navigation/Navbar/Navbar.astro";

interface Props {
  link: Link;
}

const { link } = Astro.props;
const currentPath = Astro.url.pathname;
const isActive = currentPath === link.href;
const liClasses =
  (isActive && "bg-secondary text-white rounded-full shadow") || "";
// Añadir una variable para las clases del enlace
const aClasses = isActive
  ? "block px-3 py-1 transition-colors text-white md:text-white"
  : "block px-3 py-1 transition-all text-primary hover:text-secondary md:text-white md:hover:text-secondary md:hover:mt-[-3px]";
---

<li class={liClasses}>
  <a href={link.href} class={aClasses}>
    {link.text}
  </a>
</li>
