---
import { Image } from "astro:assets";

interface Props {
  image: string;
  alt: string;
}

const { image, alt } = Astro.props;
---

<div class="relative w-dvw max-h-[296px] bg-primary">
  <Image
    src={image}
    alt={alt}
    class="top-0 left-0 w-full h-full opacity-25 min-h-24 lg:min-h-40"
    width={1920}
    height={296}
  />
</div>
