---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<h2
  class="font-bold text-center text-6xl md:text-7xl text-primary py-10 [text-shadow:_4px_4px_0_rgb(0_0_0_/_40%)]"
>
  {text}
</h2>
