---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero/Hero.astro";
import Directive from "@components/_Pages/homePage/directive/Directive.astro";
import Committee from "@components/_Pages/homePage/committee/Committee.astro";
import directive_2024 from "@data/2024/directive.data";
import directive_2023 from "@data/2023/directive.data";
---

<Layout>
  <Hero />
  <!-- Start: Needed to fix hero space -->
  <div class="container mx-auto mt-[calc(70dvh)] md:mt-[calc(80dvh)]"></div>
  <!-- End: Needed to fix hero space -->
  <div id="comité-2024" class="container mx-auto mt-3">
    <Directive title="Comité 2024" directive={directive_2024} />
    <div class="mt-12">
      <Committee image="/directive/2024/Miembros.webp" />
    </div>
  </div>

  <!-- Start: Last one need my of 20 -->
  <section id="comité-2023" class="container mx-auto my-20">
    <Directive title="Comité 2023" directive={directive_2023} />
    <div class="mt-12">
      <Committee image="/directive/2023/Miembros.webp" />
    </div>
  </section>
  <!-- End: Last one need my of 20 -->
</Layout>
