---
import Layout from "@src/layouts/Layout.astro";
import Hero from "@components/Hero/Hero.astro";
import About from "@components/_Pages/homePage/aboutUs/About.astro";
import Activities from "@components/_Pages/homePage/activities/Activities.astro";
import ImageDivider from "@components/Divider/ImageDivider.astro";
import Directive from "@components/_Pages/homePage/directive/Directive.astro";
import Committee from "@components/_Pages/homePage/committee/Committee.astro";
import FAQ from "@components/_Pages/homePage/faq/FAQ.astro";
---

<Layout>
  <Hero />
  <div
    id="nosotros"
    class="mt-[calc(70dvh)] md:mt-[calc(80dvh)] container mx-auto"
  >
    <About />
  </div>

  <div id="actividades" class="container mx-auto mt-10 md:mt-20">
    <Activities />
  </div>
  <div class="mt-12 md:mt-28">
    <ImageDivider imagePath="/src/assets/divider-banner.webp" alt="Divider" />
  </div>
  <div id="directiva" class="container mx-auto mt-3">
    <Directive />
  </div>
  <div id="comité" class="container mx-auto mt-3">
    <Committee />
  </div>
  <div class="mt-12 md:mt-28">
    <ImageDivider imagePath="/src/assets/divider-banner.webp" alt="Divider" />
  </div>
  <div id="preguntas-frecuentes" class="container mx-auto mt-20 mb-28">
    <FAQ />
  </div>
</Layout>
