---
import Hero from "@components/Hero/Hero.astro";
import Layout from "../layouts/Layout.astro";
import About from "@components/_pages/homePage/aboutUs/About.astro";
---

<Layout>
  <Hero />
  <div class="mt-[calc(75dvh)]">
    <About />
  </div>
</Layout>
