---
import Heading from "@components/Heading/Heading.astro";
import ActivitiesCardRender from "@components/Cards/Activities/ActivitiesCardRender/ActivitiesCardRender.astro";

export type Activity = {
  title: string;
  description: string;
  image: string;
  link?: string;
};

export const activities: Activity[] = [
  {
    title: "BarCamp 2024",
    description:
      "BarCamp RD 2024 es un evento de tecnología que reúne a profesionales, estudiantes y entusiastas de la tecnología en un solo lugar.",
    image: "/activities/barcamp-2024.webp",
    link: "https://barcamp.org.do",
  },
  {
    title: "Sesión MLSA 2024",
    description:
      "Microsoft Learn Student Ambassadors es un programa de Microsoft que busca empoderar a los estudiantes para liderar en sus comunidades.",
    image: "/activities/mlsa-1-2024.webp",
    link: "https://www.instagram.com/p/C8OJx2ytakn/",
  },
  {
    title: "Taller MLSA 2024",
    description: "Descripción de la actividad 5",
    image: "/activities/mlsa-1-2024.webp",
    link: "https://www.ucr.ac.cr/estudiantes/carreras/ciencias-de-la-computacion.html",
  },
  {
    title: "BarCamp 2023",
    description:
      "BarCamp RD 2023 es un evento de tecnología que reúne a profesionales, estudiantes y entusiastas de la tecnología en un solo lugar.",
    image: "/activities/barcamp-2023.webp",
    link: "https://2023.barcamp.org.do",
  },
  {
    title: "CodeJam 2023",
    description:
      "CodeJam RD 2023 es una competencia de programación en la que los participantes deben resolver problemas de algoritmos en un tiempo limitado.",
    image: "/activities/codejam-2023.webp",
    link: "https://www.instagram.com/p/Ct9RiGRO6To/",
  },
];
---

<section>
  <Heading text="Actividades" />
  <ActivitiesCardRender activities={activities} />
</section>
