---
import Heading from "@components/Heading/Heading.astro";
import ActivitiesCardRender from "@components/Cards/Activities/ActivitiesCardRender/ActivitiesCardRender.astro";

import activities from "@data/activities.data";

const ACTIVITY_LABEL = "Ver actividades destacadas";
---

<section>
  <Heading text="Actividades" />
  <ActivitiesCardRender activities={activities} />
  <div class="flex justify-center">
    <a
      href="/actividades#inicio"
      class="w-fit p-2 px-5 mt-9 mb-4 lg:mb-0 text-xl shadow-lg font-medium text-center transition-all rounded-2xl bg-secondary hover:scale-105 hover:bg-secondary/90"
    >
      {ACTIVITY_LABEL}
    </a>
  </div>
</section>
