---
import ActivityCard from "@components/Cards/Activities/ActivityCard/ActivityCard.astro";

import type { Activity } from "@data/activities.data";

interface Props {
  activities: Activity[];
}

const { activities } = Astro.props;
const MAX_SLIDES = 6;
---

<style is:inline>
  .swiper {
    overflow-y: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 440px;
  }

  .swiper-slide-active > div {
    transform: scale(1.15);
    transition: transform 1.5s ease;
    overflow-y: visible;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #00589b;
    padding: 10px;
  }
</style>

<div class="w-full h-full swiper">
  <div class="swiper-wrapper">
    {
      activities.slice(0, MAX_SLIDES).map((activity) => {
        return <ActivityCard activity={activity} />;
      })
    }
  </div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<script>
  import Swiper from "swiper";
  import { Navigation, Autoplay } from "swiper/modules";
  import "swiper/css";
  import "swiper/css/navigation";

  const swiper = new Swiper(".swiper", {
    modules: [Navigation, Autoplay],

    direction: "horizontal",
    loop: true,
    slidesPerView: 5,
    autoplay: {
      delay: 4000,
    },
    centeredSlides: true,
    breakpoints: {
      320: {
        slidesPerView: 1,
      },
      1220: {
        slidesPerView: 3,
      },
    },

    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
