---
import { Image } from "astro:assets";

import Heading from "@components/Heading/Heading.astro";

interface Props {
  image: string;
  title?: string;
}

const { image, title } = Astro.props;
---

<section>
  {title && <Heading text={title} />}
  <Image
    src={image}
    alt="Foto de los miembros del comité"
    class="h-[calc(35vh)] lg:h-[calc(70vh)] w-full p-4 shadow-2xl drop-shadow-2xl rounded-3xl object-cover border"
    width={1920}
    height={1080}
  />
</section>
