---
import Heading from "@components/Heading/Heading.astro";
import { Image } from "astro:assets";
---

<section>
  <Heading text="Comité" />
  <Image
    src="/hero.webp"
    alt="Foto de los miembros del comité"
    class="h-[calc(35vh)] md:h-[calc(70vh)] w-full p-4 shadow-2xl drop-shadow-2xl rounded-3xl object-cover"
    width={1920}
    height={1080}
  />
</section>
