---
import Heading from "@components/Heading/Heading.astro";
import FAQR from "./FAQR";

export type Question = {
  question: string;
  answer: string;
};
export const questions: Question[] = [
  {
    question: "¿De qué se encarga el Comité?",
    answer:
      "El Comité se encarga de organizar las actividades y eventos de la asociación, así como de velar por el cumplimiento de los estatutos y la buena marcha de la asociación.",
  },
  {
    question: "¿Cómo puedo formar parte del Comité?",
    answer:
      "Para formar parte del Comité, debes ser estudiante activo de la carrera de Ingeniería en Ciencias de la Computación de la PUCMM.",
  },
  {
    question: "¿Cuánto dura el período de gestión del Comité?",
    answer:
      "El período de gestión del Comité es de un año, comenzando en enero y finalizando en diciembre.",
  },
  {
    question: "¿Cuáles son las funciones de cada miembro del Comité?",
    answer:
      "Cada miembro del Comité tiene funciones específicas, como presidente, vicepresidente, secretario, tesorero, entre otros. Estas funciones se detallan en los estatutos de la asociación.",
  },
  {
    question: "¿Cómo puedo contactar al Comité?",
    answer:
      "Puedes contactar al Comité a través de nuestro correo electrónico o nuestras redes sociales. También puedes asistir a nuestras reuniones semanales para hablar directamente con los miembros del Comité.",
  },
];
---

<section>
  <Heading text="Preguntas frecuentes" />
  <FAQR questions={questions} client:only />
</section>
