---
import Heading from "@components/Heading/Heading.astro";
import FAQR from "@components/_Pages/homePage/faq/FAQR";

import questions from "@data/questions.data";
---

<section>
  <Heading text="Preguntas frecuentes" />
  <FAQR questions={questions} client:only />
</section>
