---
import Navbar from "@components/navigation/Navbar/Navbar.astro";
import "@fontsource-variable/onest";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <header>
      <Navbar />
    </header>
    <main>
      <slot name="main" />
    </main>
    <footer>
      <slot name="footer" />
    </footer>
  </body>
</html>

<style>
  :root {
    color-scheme: light dark;
  }
  html {
    background: #f9f9f9;
    font-family: "Onest Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  @media (prefers-reduce-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
