---
import Heading from "@components/Heading/Heading.astro";
import AboutCardRender from "@components/Cards/About/AboutCardRender/AboutCardRender.astro";

import SemicolonIcon from "@icons/SemicolonIcon.astro";

import cards from "@data/about.data";
---

<section class="relative">
  <Heading text="Nosotros" />

  <AboutCardRender cards={cards} />

  <div class="hidden md:block absolute bottom-[-60px] right-[-50px]">
    <SemicolonIcon />
  </div>
</section>
